<h1>Menu de creation des Cocktails#new</h1>
<p>app/views/cocktails/new.html.erb</p>

<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>

